ClienteWEB/src/META-INF/wsdl/localhost_8080/WS_Finance/Finance.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="Finance">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WS_Finance/Finance?xsd=1"/>
</xsd:schema>
</types>
<message name="atualizarValorMovimento">
<part name="parameters" element="tns:atualizarValorMovimento"/>
</message>
<message name="atualizarValorMovimentoResponse">
<part name="parameters" element="tns:atualizarValorMovimentoResponse"/>
</message>
<message name="listarDescricaoMovimento">
<part name="parameters" element="tns:listarDescricaoMovimento"/>
</message>
<message name="listarDescricaoMovimentoResponse">
<part name="parameters" element="tns:listarDescricaoMovimentoResponse"/>
</message>
<message name="listarTituloMovimento">
<part name="parameters" element="tns:listarTituloMovimento"/>
</message>
<message name="listarTituloMovimentoResponse">
<part name="parameters" element="tns:listarTituloMovimentoResponse"/>
</message>
<message name="listarValorMovimento">
<part name="parameters" element="tns:listarValorMovimento"/>
</message>
<message name="listarValorMovimentoResponse">
<part name="parameters" element="tns:listarValorMovimentoResponse"/>
</message>
<message name="listarVencimentoMovimento">
<part name="parameters" element="tns:listarVencimentoMovimento"/>
</message>
<message name="listarVencimentoMovimentoResponse">
<part name="parameters" element="tns:listarVencimentoMovimentoResponse"/>
</message>
<message name="SaldoInicial">
<part name="parameters" element="tns:SaldoInicial"/>
</message>
<message name="SaldoInicialResponse">
<part name="parameters" element="tns:SaldoInicialResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="atualizarDescriçãoMovimento">
<part name="parameters" element="tns:atualizarDescriçãoMovimento"/>
</message>
<message name="atualizarDescriçãoMovimentoResponse">
<part name="parameters" element="tns:atualizarDescriçãoMovimentoResponse"/>
</message>
<message name="atualizarCategoria">
<part name="parameters" element="tns:atualizarCategoria"/>
</message>
<message name="atualizarCategoriaResponse">
<part name="parameters" element="tns:atualizarCategoriaResponse"/>
</message>
<message name="apagarCategoria">
<part name="parameters" element="tns:apagarCategoria"/>
</message>
<message name="apagarCategoriaResponse">
<part name="parameters" element="tns:apagarCategoriaResponse"/>
</message>
<message name="listarCategoria">
<part name="parameters" element="tns:listarCategoria"/>
</message>
<message name="listarCategoriaResponse">
<part name="parameters" element="tns:listarCategoriaResponse"/>
</message>
<message name="inserirCategoria">
<part name="parameters" element="tns:inserirCategoria"/>
</message>
<message name="inserirCategoriaResponse">
<part name="parameters" element="tns:inserirCategoriaResponse"/>
</message>
<message name="inserirMovimento">
<part name="parameters" element="tns:inserirMovimento"/>
</message>
<message name="inserirMovimentoResponse">
<part name="parameters" element="tns:inserirMovimentoResponse"/>
</message>
<message name="atualizarTituloMovimento">
<part name="parameters" element="tns:atualizarTituloMovimento"/>
</message>
<message name="atualizarTituloMovimentoResponse">
<part name="parameters" element="tns:atualizarTituloMovimentoResponse"/>
</message>
<message name="apagarMovimento">
<part name="parameters" element="tns:apagarMovimento"/>
</message>
<message name="apagarMovimentoResponse">
<part name="parameters" element="tns:apagarMovimentoResponse"/>
</message>
<message name="Saldo">
<part name="parameters" element="tns:Saldo"/>
</message>
<message name="SaldoResponse">
<part name="parameters" element="tns:SaldoResponse"/>
</message>
<portType name="Finance">
<operation name="atualizarValorMovimento">
<input wsam:Action="http://service/Finance/atualizarValorMovimentoRequest" message="tns:atualizarValorMovimento"/>
<output wsam:Action="http://service/Finance/atualizarValorMovimentoResponse" message="tns:atualizarValorMovimentoResponse"/>
</operation>
<operation name="listarDescricaoMovimento">
<input wsam:Action="http://service/Finance/listarDescricaoMovimentoRequest" message="tns:listarDescricaoMovimento"/>
<output wsam:Action="http://service/Finance/listarDescricaoMovimentoResponse" message="tns:listarDescricaoMovimentoResponse"/>
</operation>
<operation name="listarTituloMovimento">
<input wsam:Action="http://service/Finance/listarTituloMovimentoRequest" message="tns:listarTituloMovimento"/>
<output wsam:Action="http://service/Finance/listarTituloMovimentoResponse" message="tns:listarTituloMovimentoResponse"/>
</operation>
<operation name="listarValorMovimento">
<input wsam:Action="http://service/Finance/listarValorMovimentoRequest" message="tns:listarValorMovimento"/>
<output wsam:Action="http://service/Finance/listarValorMovimentoResponse" message="tns:listarValorMovimentoResponse"/>
</operation>
<operation name="listarVencimentoMovimento">
<input wsam:Action="http://service/Finance/listarVencimentoMovimentoRequest" message="tns:listarVencimentoMovimento"/>
<output wsam:Action="http://service/Finance/listarVencimentoMovimentoResponse" message="tns:listarVencimentoMovimentoResponse"/>
</operation>
<operation name="SaldoInicial">
<input wsam:Action="http://service/Finance/SaldoInicialRequest" message="tns:SaldoInicial"/>
<output wsam:Action="http://service/Finance/SaldoInicialResponse" message="tns:SaldoInicialResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://service/Finance/SaldoInicial/Fault/ParseException"/>
</operation>
<operation name="atualizarDescriçãoMovimento">
<input wsam:Action="http://service/Finance/atualizarDescriçãoMovimentoRequest" message="tns:atualizarDescriçãoMovimento"/>
<output wsam:Action="http://service/Finance/atualizarDescriçãoMovimentoResponse" message="tns:atualizarDescriçãoMovimentoResponse"/>
</operation>
<operation name="atualizarCategoria">
<input wsam:Action="http://service/Finance/atualizarCategoriaRequest" message="tns:atualizarCategoria"/>
<output wsam:Action="http://service/Finance/atualizarCategoriaResponse" message="tns:atualizarCategoriaResponse"/>
</operation>
<operation name="apagarCategoria">
<input wsam:Action="http://service/Finance/apagarCategoriaRequest" message="tns:apagarCategoria"/>
<output wsam:Action="http://service/Finance/apagarCategoriaResponse" message="tns:apagarCategoriaResponse"/>
</operation>
<operation name="listarCategoria">
<input wsam:Action="http://service/Finance/listarCategoriaRequest" message="tns:listarCategoria"/>
<output wsam:Action="http://service/Finance/listarCategoriaResponse" message="tns:listarCategoriaResponse"/>
</operation>
<operation name="inserirCategoria">
<input wsam:Action="http://service/Finance/inserirCategoriaRequest" message="tns:inserirCategoria"/>
<output wsam:Action="http://service/Finance/inserirCategoriaResponse" message="tns:inserirCategoriaResponse"/>
</operation>
<operation name="inserirMovimento">
<input wsam:Action="http://service/Finance/inserirMovimentoRequest" message="tns:inserirMovimento"/>
<output wsam:Action="http://service/Finance/inserirMovimentoResponse" message="tns:inserirMovimentoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://service/Finance/inserirMovimento/Fault/ParseException"/>
</operation>
<operation name="atualizarTituloMovimento">
<input wsam:Action="http://service/Finance/atualizarTituloMovimentoRequest" message="tns:atualizarTituloMovimento"/>
<output wsam:Action="http://service/Finance/atualizarTituloMovimentoResponse" message="tns:atualizarTituloMovimentoResponse"/>
</operation>
<operation name="apagarMovimento">
<input wsam:Action="http://service/Finance/apagarMovimentoRequest" message="tns:apagarMovimento"/>
<output wsam:Action="http://service/Finance/apagarMovimentoResponse" message="tns:apagarMovimentoResponse"/>
</operation>
<operation name="Saldo">
<input wsam:Action="http://service/Finance/SaldoRequest" message="tns:Saldo"/>
<output wsam:Action="http://service/Finance/SaldoResponse" message="tns:SaldoResponse"/>
</operation>
</portType>
<binding name="FinancePortBinding" type="tns:Finance">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="atualizarValorMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDescricaoMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTituloMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarValorMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarVencimentoMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SaldoInicial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="atualizarDescriçãoMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="apagarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="atualizarTituloMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="apagarMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Saldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Finance">
<port name="FinancePort" binding="tns:FinancePortBinding">
<soap:address location="http://localhost:8080/WS_Finance/Finance"/>
</port>
</service>
</definitions>