ClienteWEB/src/META-INF/wsdl/localhost_8080/WS_Finance/Finance.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="Finance">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/WS_Finance/Finance?xsd=1"/>
</xsd:schema>
</types>
<message name="inserirCategoria">
<part name="parameters" element="tns:inserirCategoria"/>
</message>
<message name="inserirCategoriaResponse">
<part name="parameters" element="tns:inserirCategoriaResponse"/>
</message>
<message name="apagarCategoria">
<part name="parameters" element="tns:apagarCategoria"/>
</message>
<message name="apagarCategoriaResponse">
<part name="parameters" element="tns:apagarCategoriaResponse"/>
</message>
<message name="listarCategoria">
<part name="parameters" element="tns:listarCategoria"/>
</message>
<message name="listarCategoriaResponse">
<part name="parameters" element="tns:listarCategoriaResponse"/>
</message>
<message name="atualizarCategoria">
<part name="parameters" element="tns:atualizarCategoria"/>
</message>
<message name="atualizarCategoriaResponse">
<part name="parameters" element="tns:atualizarCategoriaResponse"/>
</message>
<portType name="Finance">
<operation name="inserirCategoria">
<input wsam:Action="http://service/Finance/inserirCategoriaRequest" message="tns:inserirCategoria"/>
<output wsam:Action="http://service/Finance/inserirCategoriaResponse" message="tns:inserirCategoriaResponse"/>
</operation>
<operation name="apagarCategoria">
<input wsam:Action="http://service/Finance/apagarCategoriaRequest" message="tns:apagarCategoria"/>
<output wsam:Action="http://service/Finance/apagarCategoriaResponse" message="tns:apagarCategoriaResponse"/>
</operation>
<operation name="listarCategoria">
<input wsam:Action="http://service/Finance/listarCategoriaRequest" message="tns:listarCategoria"/>
<output wsam:Action="http://service/Finance/listarCategoriaResponse" message="tns:listarCategoriaResponse"/>
</operation>
<operation name="atualizarCategoria">
<input wsam:Action="http://service/Finance/atualizarCategoriaRequest" message="tns:atualizarCategoria"/>
<output wsam:Action="http://service/Finance/atualizarCategoriaResponse" message="tns:atualizarCategoriaResponse"/>
</operation>
</portType>
<binding name="FinancePortBinding" type="tns:Finance">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inserirCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="apagarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Finance">
<port name="FinancePort" binding="tns:FinancePortBinding">
<soap:address location="http://localhost:8080/WS_Finance/Finance"/>
</port>
</service>
</definitions>