ClienteWEB/xml-resources/web-service-references/Finance/wsdl/localhost_8080/WS_Finance/Finance.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="apagarCategoria" type="tns:apagarCategoria"/>

<xs:element name="apagarCategoriaResponse" type="tns:apagarCategoriaResponse"/>

<xs:element name="apagarMovimento" type="tns:apagarMovimento"/>

<xs:element name="apagarMovimentoResponse" type="tns:apagarMovimentoResponse"/>

<xs:element name="atualizarCategoria" type="tns:atualizarCategoria"/>

<xs:element name="atualizarCategoriaResponse" type="tns:atualizarCategoriaResponse"/>

<xs:element name="atualizarMovimento" type="tns:atualizarMovimento"/>

<xs:element name="atualizarMovimentoResponse" type="tns:atualizarMovimentoResponse"/>

<xs:element name="inserirCategoria" type="tns:inserirCategoria"/>

<xs:element name="inserirCategoriaResponse" type="tns:inserirCategoriaResponse"/>

<xs:element name="inserirMovimento" type="tns:inserirMovimento"/>

<xs:element name="inserirMovimentoResponse" type="tns:inserirMovimentoResponse"/>

<xs:element name="listarCategoria" type="tns:listarCategoria"/>

<xs:element name="listarCategoriaResponse" type="tns:listarCategoriaResponse"/>

<xs:element name="listarMovimento" type="tns:listarMovimento"/>

<xs:element name="listarMovimentoResponse" type="tns:listarMovimentoResponse"/>

<xs:complexType name="listarCategoria">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarCategoria">
<xs:sequence>
<xs:element name="cat" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarCategoria">
<xs:sequence>
<xs:element name="cat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:float"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarMovimento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCategoria">
<xs:sequence>
<xs:element name="cat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>