ClienteWEB/xml-resources/web-service-references/Finance/wsdl/localhost_8080/WS_Finance/Finance.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="Saldo" type="tns:Saldo"/>

<xs:element name="SaldoInicial" type="tns:SaldoInicial"/>

<xs:element name="SaldoInicialResponse" type="tns:SaldoInicialResponse"/>

<xs:element name="SaldoResponse" type="tns:SaldoResponse"/>

<xs:element name="apagarCategoria" type="tns:apagarCategoria"/>

<xs:element name="apagarCategoriaResponse" type="tns:apagarCategoriaResponse"/>

<xs:element name="apagarMovimento" type="tns:apagarMovimento"/>

<xs:element name="apagarMovimentoResponse" type="tns:apagarMovimentoResponse"/>

<xs:element name="atualizarCategoria" type="tns:atualizarCategoria"/>

<xs:element name="atualizarCategoriaResponse" type="tns:atualizarCategoriaResponse"/>

<xs:element name="atualizarDescriçãoMovimento" type="tns:atualizarDescriçãoMovimento"/>

<xs:element name="atualizarDescriçãoMovimentoResponse" type="tns:atualizarDescriçãoMovimentoResponse"/>

<xs:element name="atualizarTituloMovimento" type="tns:atualizarTituloMovimento"/>

<xs:element name="atualizarTituloMovimentoResponse" type="tns:atualizarTituloMovimentoResponse"/>

<xs:element name="atualizarValorMovimento" type="tns:atualizarValorMovimento"/>

<xs:element name="atualizarValorMovimentoResponse" type="tns:atualizarValorMovimentoResponse"/>

<xs:element name="inserirCategoria" type="tns:inserirCategoria"/>

<xs:element name="inserirCategoriaResponse" type="tns:inserirCategoriaResponse"/>

<xs:element name="inserirMovimento" type="tns:inserirMovimento"/>

<xs:element name="inserirMovimentoResponse" type="tns:inserirMovimentoResponse"/>

<xs:element name="listarCategoria" type="tns:listarCategoria"/>

<xs:element name="listarCategoriaResponse" type="tns:listarCategoriaResponse"/>

<xs:element name="listarDescricaoMovimento" type="tns:listarDescricaoMovimento"/>

<xs:element name="listarDescricaoMovimentoResponse" type="tns:listarDescricaoMovimentoResponse"/>

<xs:element name="listarTituloMovimento" type="tns:listarTituloMovimento"/>

<xs:element name="listarTituloMovimentoResponse" type="tns:listarTituloMovimentoResponse"/>

<xs:element name="listarValorMovimento" type="tns:listarValorMovimento"/>

<xs:element name="listarValorMovimentoResponse" type="tns:listarValorMovimentoResponse"/>

<xs:element name="listarVencimentoMovimento" type="tns:listarVencimentoMovimento"/>

<xs:element name="listarVencimentoMovimentoResponse" type="tns:listarVencimentoMovimentoResponse"/>

<xs:complexType name="atualizarTituloMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarTituloMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarValorMovimento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarValorMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarVencimentoMovimento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarVencimentoMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarValorMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:float"/>
<xs:element name="arg1" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarValorMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Saldo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCategoria">
<xs:sequence>
<xs:element name="cat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoria">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarCategoria">
<xs:sequence>
<xs:element name="cat" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaldoInicial">
<xs:sequence>
<xs:element name="mov" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaldoInicialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarCategoria">
<xs:sequence>
<xs:element name="cat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarDescriçãoMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarDescriçãoMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:float"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTituloMovimento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarTituloMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarMovimento">
<xs:sequence>
<xs:element name="mov" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apagarMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDescricaoMovimento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarDescricaoMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>