ControleFinanceiroCliente/ControleFinanceiroWEB/src/conf/xml-resources/web-service-references/WebServiceServidor/wsdl/localhost_8080/dbfinance/WebServiceServidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbfinance.webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dbfinance.webservice.com/" name="WebServiceServidor">
<types>
<xsd:schema>
<xsd:import namespace="http://dbfinance.webservice.com/" schemaLocation="http://localhost:8080/dbfinance/WebServiceServidor?xsd=1"/>
</xsd:schema>
</types>
<message name="InserirCat">
<part name="parameters" element="tns:InserirCat"/>
</message>
<message name="InserirCatResponse">
<part name="parameters" element="tns:InserirCatResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="deletarCat">
<part name="parameters" element="tns:deletarCat"/>
</message>
<message name="deletarCatResponse">
<part name="parameters" element="tns:deletarCatResponse"/>
</message>
<message name="updateCat">
<part name="parameters" element="tns:updateCat"/>
</message>
<message name="updateCatResponse">
<part name="parameters" element="tns:updateCatResponse"/>
</message>
<portType name="WebServiceServidor">
<operation name="InserirCat">
<input wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/InserirCatRequest" message="tns:InserirCat"/>
<output wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/InserirCatResponse" message="tns:InserirCatResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/InserirCat/Fault/ClassNotFoundException"/>
</operation>
<operation name="deletarCat">
<input wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/deletarCatRequest" message="tns:deletarCat"/>
<output wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/deletarCatResponse" message="tns:deletarCatResponse"/>
</operation>
<operation name="updateCat">
<input wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/updateCatRequest" message="tns:updateCat"/>
<output wsam:Action="http://dbfinance.webservice.com/WebServiceServidor/updateCatResponse" message="tns:updateCatResponse"/>
</operation>
</portType>
<binding name="WebServiceServidorPortBinding" type="tns:WebServiceServidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InserirCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="deletarCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceServidor">
<port name="WebServiceServidorPort" binding="tns:WebServiceServidorPortBinding">
<soap:address location="http://localhost:8080/dbfinance/WebServiceServidor"/>
</port>
</service>
</definitions>