ControleFinanceiroCliente/ControleFinanceiroWEB/web/WEB-INF/wsdl/localhost_8080/dbfinance/WebServiceServidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://dbfinance.webservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dbfinance.webservice.com/">

<xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>

<xs:element name="InserirCat" type="tns:InserirCat"/>

<xs:element name="InserirCatResponse" type="tns:InserirCatResponse"/>

<xs:element name="deletarCat" type="tns:deletarCat"/>

<xs:element name="deletarCatResponse" type="tns:deletarCatResponse"/>

<xs:element name="updateCat" type="tns:updateCat"/>

<xs:element name="updateCatResponse" type="tns:updateCatResponse"/>

<xs:complexType name="deletarCat">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarCatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InserirCat">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InserirCatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassNotFoundException">
<xs:sequence>
<xs:element name="exception" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateCat">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>